# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
ENV=dev
PORT=5000
APP_NAME= # your app name - will be displayed on email
SALT=10
JWT_SECRET= # your jwt secret key
JWT_EXPIRES_IN=1d
LOG_PATH=var/temp/logs
DATABASE_URL= # your postgresql db connection url string
EMAIL_SERVICE_NAME=gmail
EMAIL_SERVICE_HOST=smtp.gmail.com
EMAIL_SERVICE_PORT=587
EMAIL_API_KEY= # your email id if using gmail apis or sendgrids api key 'apikey'
APP_EMAIL_ID= # your app email id 
EMAIL_SECRETE_KEY= # your gmail app specifig password or sendgrid api secret key  - readme file 

MINIO_ENDPOINT=localhost;
MINIO_PORT=9000;
MINIO_ROOT_USER=sidhesh; # your username you can define
MINIO_ROOT_PASSWORD=sidhesh123; # your password you can define
MINIO_ACCESS_KEY=YVYlosbPBO6Zq3FBB8n6; # once the minio console is up you can setup this access key and secret key
MINIO_SECRET_KEY=zRO9esnUuGviDFE9D54KkZLCCMcRT3dsn7hMnCTu;
MINIO_URL_EXPIRY_IN_SECONDS=360000;
MINIO_USE_SSL=false;
MINIO_BUCKET=files; # your bucket name,for simplicity i have added it in envs, you can dynamically do this
FILE_UPLOAD_STRATEGY=minio;